.home_section {
    margin-top: 5rem;
    margin-left: 2rem;

    h1 {
        color: $pink;
        font-weight: bolder;
    }

    p {
        color: $gray;
        font-weight: bold;
    }
}

.search_container{
 h2{
     text-align:center;
     font-weight:bold;
 }
input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius:5px;
    height:2rem;
}
}
